<launch>


  <arg name="align_depth"       default="true"/> 
<!-- =============================================================================== -->
  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch" >
    <arg name="align_depth"   value="$(arg align_depth)"/>
  </include>

  <node pkg="msr_project" type="estimation_node.py" name="estimation_node" output="screen"  />

  <include file="/home/roxy/catkin_ws/src/darknet_ros/darknet_ros/launch/darknet_ros.launch"  />  
</launch>										
